body,
html {
  height: 100%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: aliceblue;
}

#addNewBook {
  position: relative;
  top: 0%;
  /* left: 50%;
  transform: translate(-50%, -50%); */
}

#addNewBook form,
#addNewBook form label {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#addNewBook form input {
  border: none;
  border-bottom: 1px solid gray;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: honeydew;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header h1 {
  color: cadetblue;
  text-transform: uppercase;
  font-weight: bolder;
}

header .addBook-btn {
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: cadetblue;
  color: whitesmoke;
}

.container {
  padding: 40px 0;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  margin: 0 auto;
}

.book {
  max-width: 300px;
  width: 100%;
  background-color: honeydew;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.if-read {
  text-align: center;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px 15px;
}

.book-read {
  background-color: darkgreen;
}

.book-notRead {
  cursor: pointer;
  background-color: brown;
}

.book-content {
  padding: 0px 15px;
}

.label-bookcard {
  font-size: 12px;
  color: cadetblue;
}

.book-info {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.delete-btn {
  width: 100%;
  background-color: cadetblue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
